@charset "UTF-8";

/* @import url ('https://fonts.googleapis.com/css?family= Noto + Sans + KR & display = swap'); */

/* @font-face {
	font-family: 'Noto Sans KR';
	src: url('https://fonts.googleapis.com/css?family= Noto + Sans + KR & display = swap') format('truetype');
}
body {
	font-family: Noto Sans KR;
} */


.topnv_1dep {
    float: left;
    font-size: 20px;
    font-family: 'Aparajita';
    color: #7a7a7a;
}
.bg-light {
    background-color: #b0dbd2!important;
}
#backimg{
	widows: inherit;
	height: 100%;
}
.navbar{
	margin-bottom: 0px !important;
}
.navbar-light{
	color:#bebebe!important;
}
.navbar-arand{
	font-size : 20px;
	background-color: #c1edfd;
	color:white!important;
}
.navbar-brand{
	font-size : 15px;
	color:#bebebe!important;
}
.navbar-brand:hover{
	color:black!important;
}
.rbbsimg{
	width:400px;
	height:300px; 
	
}
.rbbsimg:hover{
	filter: brightness(0.8);
}
.bbslist_td{
	color:#a1a1a1!important;
	padding-bottom: 30px;
}
.bbslist_td:hover{
	color:black!important;
	aling:center;
	padding-bottom: 30px;
}
.thr{
	border: solid 5px #bebebe;
	color: #bebebe!important;
}
#_title_today{
	color : black;
}
.mlogo{
	width: 700px;
    height: 500px;
}
<!--메인화면 -->
@import url(https://fonts.googleapis.com/css?family=Varela+Round);

html, body { background: #333 url("https://codepen.io/images/classy_fabric.png"); }
.main_first{
	background-color: black;
}
.slides {
    padding: 0;
    width: 1550px;
    height: 940px;
    display: block;
    margin: 0 auto;
    position: relative;
}

.slides * {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

.slides input { display: none; }

.slide-container { display: block; }

.slide {
    top: 0;
    opacity: 0;
    width: 1550px;
    height: 940px;
    display: block;
    position: absolute;

    transform: scale(0);

    transition: all .7s ease-in-out;
}

.slide img {
    width: 100%;
    height: 100%;
}

.nav label {
    width: 200px;
    height: 100%;
    display: none;
    position: absolute;

      opacity: 0;
    z-index: 9;
    cursor: pointer;

    transition: opacity .2s;

    color: #FFF;
    font-size: 156pt;
    text-align: center;
    line-height: 800px;
    font-family: "Varela Round", sans-serif;
    background-color: rgba(255, 255, 255, .3);
    text-shadow: 0px 0px 15px rgb(119, 119, 119);
}

.slide:hover + .nav label { opacity: 0.5; }

.nav label:hover { opacity: 1; }

.nav .next { right: 0; }

input:checked + .slide-container  .slide {
    opacity: 1;

    transform: scale(1);

    transition: opacity 1s ease-in-out;
}

input:checked + .slide-container .nav label { display: block; }

.nav-dots {
    width: 100%;
    bottom: 9px;
    height: 11px;
    display: block;
    position: absolute;
    text-align: center;
}

.nav-dots .nav-dot {
    top: -5px;
    width: 11px;
    height: 11px;
    margin: 0 4px;
    position: relative;
    border-radius: 100%;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.6);
}

.nav-dots .nav-dot:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.8);
}

input#img-1:checked ~ .nav-dots label#img-dot-1,
input#img-2:checked ~ .nav-dots label#img-dot-2,
input#img-3:checked ~ .nav-dots label#img-dot-3,
input#img-4:checked ~ .nav-dots label#img-dot-4,
input#img-5:checked ~ .nav-dots label#img-dot-5,
input#img-6:checked ~ .nav-dots label#img-dot-6 {
    background: rgba(0, 0, 0, 0.8);
}

/* ebbs */
.ebbsbutton {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: white; 
  color: black; 
  border: 2px solid #4CAF50;
  margin-top: 20px;
}
/*예약*/
.yetable{
	border-color: #cccccc;
	padding-bottom: 20px;
	background-color: #ffe68f1a;
	width: 400px;
}
.yetable th{
	font-size: 12px;
}
.introduce{
	font-size: 30px;
}